%h1= t('Tasks')
%ul.tasks
  %li.new
    = form_for :task do |f|
      .priority= f.select :priority, (1..5).to_a.map{ |p| [p, p]}
      .title= f.text_field :title
      .submit= f.submit
      .push
  - @tasks.order(:priority, :due_at).each do |task|
    %li{ :class => "priority-#{task.priority.to_s}" }
      .priority
        %span= task.priority
      .title=  link_to task.title, task
      .due_at= l(task.due_at) rescue ''
      .push
